<header class="site-nav" id="site-nav">
  <div class="nav-logo">Track<em>Bot</em></div>
  <ul class="nav-links">
    <li><a href="#features">Features</a></li>
    <li><a href="#product">Details</a></li>
    <li><a href="#reviews">Reviews</a></li>
  </ul>
  <a href="#product" class="nav-btn">Order Now</a>
</header>
